#single {
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  /* transition: ease 0.5s; */
  transition: ease 0.5s;
  transform: translateY(-10%);
  animation: floater 5.5s infinite;
  background-color: rgb(138, 206, 231);
  width: 400px;
}

#single2 {
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  transform: translateY(-10%);
  animation: floater 5.5s infinite;
  transition: ease 0.5s;
  animation-delay: 1s;
  background-color: rgb(139, 194, 218);
  width: 400px;
}

#single3 {
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  transition: ease 0.5s;

  transform: translateY(-10%);
  animation: floater 5.5s infinite;
  background-color: rgb(115, 158, 185);
  width: 400px;
}

#single.hovered,
#single2.hovered,#single3.hovered {
  background-color: rgb(84, 116, 135);
}

.image-container {
  position: relative;
  display: inline-block;
}

.eye-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 40%;
  width: 50px;
  transition: opacity 2.3s ease;
}

.image-container.hovered  {
  /* opacity: 10; */
  filter: blur(0px);

}


#card {
  border-radius: 20px;
  background-color: rgb(218, 199, 175);
  border: none;
}

.glass-modal {
  background: rgba(75, 67, 67, 0.5);
  backdrop-filter: blur(10px);

}

#text {
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: -10px;
  /* margin: 0; */
}

#icon {
  color: #2a4137;

}

#btn {
  background-color: #2a4137;
border: none;}

#modal-clr {
  background-color: #E4D1BD;
}

#body-clr {
  background: #f2e4d5;
}
#body-clr img{
  width: 770px;
}

#foot {
  background-color: #E4D1BD;
  border-radius: 0%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}



#col2 {
  margin-top: 20px;
}
.main{
  background-color: #296c72;
}

.button{
  background-color: rgb(4, 4, 4);
  color: rgb(255, 255, 255);
  padding: 10px;
  border: none;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: -20px;
  margin-right: -20px;
  border: 6px solid #ecdfd1;
  transition:  0.3s ease; 
  border-spacing: 2;
}

#card_div{
  width: 400px;
  height: 225px;
  padding: 15px;
  border: 2px solid black;
  position: relative;
	transition: all 0s ease;
}
#card_div img{
  width: 360px;
}

#card_div:hover{
  border-width: 3px; /* Set the new border width on hover */
}
#card_div:hover button {
  font-size: 20px; /* Set the new font size on hover */
}


.light-mode  #pro_body{
  transition: all 0.4s;
    /* background-color: #E4D1BD; Light mode background color */
    color: #000000; /* Light mode text color */

  }

  .dark-mode #pro_body{
    background-color: #1d2b25; /* Dark mode background color */
    color: #fff; /* Dark mode text color */
    transition: all 0.4s;
  }

 
  .dark-mode #view_more{
    color: #fff; /* Dark mode text color */
    transition: all 0.4s;
  }
  .dark-mode button {
    background-color: white;
    color: black;
    font-weight: bold;
}